{
  "presets": [
    ["env", {
      "targets": { "node": 7 },
      "useBuiltIns": true
    }],
    "stage-0",
    "react"
  ],
  "plugins": ["emotion", "add-module-exports", "dynamic-import-webpack"],
  "env": {
    "production": {
      "presets": ["react-optimize"],
      "plugins": [["emotion", { "hoist": true }], "babel-plugin-dev-expression"]
    },
    "development": {
      "plugins": [
        [
          "emotion",
          { "sourceMap": true, "autoLabel": true }
        ],
        "transform-class-properties",
        "transform-es2015-classes",
        ["flow-runtime", {
          "assert": true,
          "annotate": true
        }]
      ]
    }
  }
}
