.c-btn {
  @extend .c-br;
  @include trans;
  border-style: solid;
  color: $light-font-color;
  background-color: $gray-3;
  border: none;
  cursor: pointer;

  &-round {
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    font-size: 1.5rem;
    @include shadow(md, dark);
  }

  &-cta {
    @extend .w-100;
    @extend .px-3;
    @extend .py-2;
    @extend .h4;
  }
}
