@import '../globals';

a {
  color: $primary-color;

  &:hover{
    text-decoration: underline;
  }

  &:visited{
    text-decoration: none;
  }

  @media (min-width: $md-breakpoint){
    color: $dark-font-color;
  }
}


.c-no-underline {
  text-decoration: none !important;

  &:hover {
    text-decoration: none !important;
  }
}
