// @import '~bootstrap/scss/bootstrap.scss';
@import '~font-awesome/css/font-awesome.css';

@import "globals";

@import './common/text';
@import './common/fonts';
@import './common/links';

html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  height: 100%;
}
