// @import '~bootstrap/scss/bootstrap.scss';
@import '~font-awesome/css/font-awesome.css';

@import './media';
@import './colors';
@import './shadows';
@import './fonts';
@import './links';
@import './text';
@import './backgrounds';

html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  height: 100%;
}
