// @import '~bootstrap/scss/bootstrap.scss';
@import '~font-awesome/css/font-awesome.css';

// Common
@import './media';
@import './colors';
@import './shadows';
@import './fonts';
@import './links';
@import './height';
@import './backgrounds';
@import './transitions';
@import './text';
@import './markdown';

// components
@import './post-card';
@import './top-nav';

html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
}
