a {
  color: $blue;

  &:hover{
    text-decoration: underline;
  }

  &:visited{
    text-decoration: none;
  }
}


.c-no-underline {
  text-decoration: none !important;

  &:hover {
    text-decoration: none !important;
  }
}
