.c-post-card {
  position: relative;
  filter: drop-shadow(0px 16px 48px rgba($dark-blue, 0.25));
  transform: translateY(0);
  transition: $fast;
  height: 100%;
  width: 100%;
  cursor: pointer;

  &:hover {
    transform: translateY(-15px);
    filter: drop-shadow(0px 16px 48px rgba($purple, 0.25));
  }
}
